@font-face {
    font-family: 'Comic Sans';
    src: url('Ldfcomicsans-jj7l.ttf');
    font-display: swap;
}

body{
    background-color: hsl(208, 25%, 90%);
    font-family: 'Comic Sans';
    font-size: 13px;
    height:100%;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}
html{
    height:100%;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.box{
    border:4px solid;
    margin: 1px;
}

.bar{
    border-color: rgb(96, 15, 163);
    background-color:rgb(193, 175, 241);
    height:60px;
    position:fixed;
    width:99%;
    top:0px;
    font-size:30px;
}

.card{
    border-color: rgb(0, 0, 0);
    max-width:100%;
    display:flex;
    margin: 0 auto;
    margin-top:70px;
    flex-direction:row;
    flex-basis:100%;
    height:100%;
}
.card2{
    flex-direction:column;
    width:100%;
    border-color: rgb(44, 44, 177);
    display:flex;
}

.Work{
    border-color: green;
    display:flex;
    flex-basis:75%;
    justify-content: space-around;
    padding:30px;
    
}

#Work1{
    border-color: lightgreen;
    height:50%;
    width:40%;
}

#Work2{
    border-color: yellow;
    height:50%;
    width:40%;
    /* flex-basis: 0%; */
    align-self: flex-end;
}

.About{
    border-color: rgb(110, 112, 224);
    flex-basis:25%;
    display:flex;
    flex-direction: column;
}

.aboutTitle{
    border-color:blue;
    height:10%;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.aboutInfo{
    border-color:cadetblue;
    height:90%;
    font-size:15px;
}

@media (max-width:575px){
    .card{
        height:100%;
        flex-direction:column
    }
    .card2{
        height:100%;
    }
    .About{
        flex-basis:20%;
    }
    .Work{
        flex-basis:80%;
    }
}