@font-face {
    font-family: 'Comic Sans';
    src: url('Ldfcomicsans-jj7l.ttf');
    font-display: swap;
}

body{
    background-image: url('../images/background.jpg');
    background-size: 100%;
    font-family: 'Comic Sans';
    font-size: 13px;
    height:100%;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}
html{
    height:100%;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.box{
    border:4px solid;
    margin: 1px;
    /* background-image:url('../images/background.jpg'); */
    background-repeat:no-repeat;
    border: 20px solid transparent;
    border-image:url('../images/box\ border\ 1.png') 30 stretch;
}

.bar{
    background-image: url('../images/nav\ bar\ decal.png'), url('../images/background.jpg');
    background-position:center;
    background-size: 50%, 110%;
    background-repeat:no-repeat;
    background-position-y: -18px;

    height:60px;
    position:fixed;
    width:97%;
    top:0px;
    font-size:30px;
}

.card{
    border:0px;
    max-width:100%;
    display:flex;
    margin: 0 auto;
    margin-top:100px;
    flex-direction:row;
    flex-basis:100%;
    height:100%;
}
.card2{
    border-image:url('../images/box\ border\ 1.png') 30 stretch;
    background-image: url('../images/flower\ decal\ 3.png'), url('../images/flower\ decal\ 4.png');
    background-position-x:left, right;
    background-position-y: bottom, top;
    background-size:23%;
    flex-direction:column;
    width:100%;
    display:flex;
}

.Work{
    display:flex;
    flex-basis:75%;
    justify-content: space-around;
    padding:0px;
    border-image:none;
}

#Work1{
    height:70%;
    width:40%;
    border-image:url('../images/box\ border\ 2.png') 30 stretch;
    background-image:none;
}

#Work2{
    height:70%;
    width:40%;
    align-self: flex-end;
    border-image:url('../images/box\ border\ 3.png') 30 stretch;
    background-image:none;
}

.About{
    flex-basis:25%;
    display:flex;
    flex-direction: column;
    border:0px;
}

.aboutTitle{
    border-image:url('../images/box\ border\ 3.png') 30 stretch;
    height:10%;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.aboutInfo{
    border-image:url('../images/box\ border\ 2.png') 30 stretch;
    height:90%;
    font-size:15px;
    padding:45px;
    background-image:url('../images/flower\ decal\ 1.png'), url('../images/flower\ decal\ 2.png');
    background-size:70%;
    background-position-y:bottom, top;
    background-position-x: right,left;
}

@media (max-width:575px){
    .card{
        height:100%;
        flex-direction:column
    }
    .card2{
        height:100%;
    }
    .About{
        flex-basis:20%;
    }
    .Work{
        flex-basis:80%;
        padding:15px;
    }
    #Work1 #Work2{
        height:60%;
        width:50%;
    }
    .bar{
        background-position-y: 8px, -20px;
        background-size: 70%, 110%;
        background-repeat:no-repeat;
    }
}