body{
    background-color: hsl(208, 25%, 90%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

.box{
    border:4px solid;
    margin: 3px;
}

.card{
    border-color: midnightblue;

    max-width:100%;
    max-height:1000px;

    display:flex;
    margin: 0 auto;
    margin-top:70px;
    flex-direction:row;
}

.bar{
    border-color: black;
    background-color:rgb(193, 175, 241);
    height:60px;
    position:fixed;
    width:100%;
    top:0px;
}

.About{
    border-color: rgb(110, 112, 224);
    flex-basis:25%;
}

.Work{
    border-color: green;
    display:flex;
    flex-basis:75%
}

#Work1{
    border-color: lightgreen;
    flex: basis 40%;
}

#Work2{
    border-color: yellow;
    flex: basis 40%;
}