@font-face {
    font-family: 'Comic Sans';
    src: url('Ldfcomicsans-jj7l.ttf');
    font-display: swap;
}

body{
    background-color: hsl(208, 25%, 90%);
    font-family: 'Comic Sans';
    font-size: 13px;
    height:100%;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}
html{
    height:100%;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.box{
    border:4px solid;
    margin: 3px;
}

.card{
    border-color: midnightblue;

    max-width:99%;
    max-height:100%;
    display:flex;
    margin: 0 auto;
    margin-top:70px;
    flex-direction:row;
    height:100%
}

.bar{
    border-color: black;
    background-color:rgb(193, 175, 241);
    height:60px;
    position:fixed;
    width:100%;
    top:0px;
    font-size:30px
}

.About{
    border-color: rgb(110, 112, 224);
    flex-basis:25%;
}

.Work{
    border-color: green;
    display:flex;
    flex-basis:75%
}

#Work1{
    border-color: lightgreen;
    flex: basis 40%;
}

#Work2{
    border-color: yellow;
    flex: basis 40%;
}