@font-face {
    font-family: 'Comic Sans';
    src: url('Ldfcomicsans-jj7l.ttf');
    font-display: swap;
}

body{
    background-image: url('../images/background.jpg');
    background-size: 100%;
    font-family: 'Comic Sans';
    font-size: 13px;
    height:100%;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}
html{
    height:100%;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.box{
    border:4px solid;
    margin: 1px;
    background-image:url('../images/background.jpg');
    background-repeat:no-repeat;
    border: 20px solid transparent;
    border-image:url('../images/box\ border\ 1.png') 30 stretch;
}

.bar{
    background-color:brown;
    background-image: url('../images/nav\ bar\ decal.png'), url('../images/background.jpg');
    background-position:center;
    background-size: 50%, 110%;
    background-repeat:no-repeat;

    height:60px;
    position:fixed;
    width:97%;
    top:0px;
    font-size:30px;
}

.card{
    border-image:none;
    border:0px;

    max-width:100%;
    display:flex;
    margin: 0 auto;
    margin-top:100px;
    flex-direction:row;
    flex-basis:100%;
    height:100%;
}
.card2{
    border-image:none;
    border:0px;

    
    flex-direction:column;
    width:100%;
    border-color: rgb(44, 44, 177);
    display:flex;
}

.Work{
    border-color: green;
    display:flex;
    flex-basis:75%;
    justify-content: space-around;
    padding:30px;
    
}

#Work1{
    border-color: lightgreen;
    height:50%;
    width:40%;
}

#Work2{
    border-color: yellow;
    height:50%;
    width:40%;
    /* flex-basis: 0%; */
    align-self: flex-end;
}

.About{
    border-color: rgb(110, 112, 224);
    flex-basis:25%;
    display:flex;
    flex-direction: column;
}

.aboutTitle{
    border-color:blue;
    height:10%;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.aboutInfo{
    border-color:cadetblue;
    height:90%;
    font-size:15px;
}

@media (max-width:575px){
    .card{
        height:100%;
        flex-direction:column
    }
    .card2{
        height:100%;
    }
    .About{
        flex-basis:20%;
    }
    .Work{
        flex-basis:80%;
        padding:15px;
    }
    #Work1 #Work2{
        height:60%;
        width:50%;
    }
    .bar{
        background-position-y: 8px, -20px;
        background-size: 70%, 110%;
        background-repeat:no-repeat;
    }
}